<h1 class="text-center">{{title}}</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/list">Index</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/add">Add Employee</a>
      </li>
    
      </ul>
      </div>
    </nav>

<router-outlet></router-outlet>